{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'stats.moduleGen'|trans %}
{% block page_content %}
    <div class="chart-wrapper">
        {{ render_chart(chart) }}
    </div>
{% endblock %}